*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-logo{
    width: 375px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding: 1rem 3rem;
    background-color: #ffdf59;
    border-radius: 10px;
}